{% extends 'base.html' %}

{%block content %}
<form  action="{% url 'parameters' %}" method="POST">
	{% csrf_token %}
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
<div class="mb-3">
  <input type="text" class="form-control" placeholder="Type Your Answer Here" id="focus" name="answer">
  <input type="hidden" name="old_num_1"> <!--value="{{ num_1 }}" -->
  <input type="hidden" name="old_num_2"> <!--value="{{ num_2 }}" -->
</div> 
<br/>
<button type="submit" class="btn btn-secondary">Submit</button>
</form>


<h1>Parameters</h1>

<svg viewBox="0 0 100 100" style="border: green solid;">
	<path stroke="red" stroke-width="1" fill="none" d="M20,20 l30,0 A10,10 0 0,1 50,40 l0,25 l-30,0 Z" />


 
</svg>

{% endblock %}

