<style type="text/css">

.button {
	text-align: center;
	display: block;
	margin: 0 auto;
}


.mb-3 {

	display: inline-block;
}

</style>
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	{% if title %}
		<title>{{ title }}</title>
	{% else %}
		<title>BBrand</title>
	{% endif %}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	</head>
	<body>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Profile Info</legend>
				{{ Svg_form|crispy }}
				{{ SvgPath_form|crispy }}
			</fieldset>
			<div class="dropdown mb-3">
			  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			    Line Types
			  </a>

			  <ul class="dropdown-menu">
			    <li><a class="dropdown-item" href="#">Line</a></li> <!-- 4 -->
			    <li><a class="dropdown-item" href="#">Arc</a></li> <!-- 4 -->
			    <li><a class="dropdown-item" href="#">Quadratic Besier Curve</a></li> <!-- 4 -->
				<li><a class="dropdown-item" href="#">Cubic Bezier Curve</a></li> <!-- 4 -->
			</ul>
			</div>
<!--			<div class="mb-3">
  				<input type="text" name="data1">
			</div>
			<div class="mb-3">
  				<input type="text" name="data2"> value="{{ num_1 }}"
			</div>
			<div class="mb-3">
  				<input type="text" name="data3"> value="{{ num_2 }}" -->
			</div> -->
			<br/>
			<div class="button">
				<button type="submit" class="btn btn-secondary">Submit</button>
			</div>
		</form>
<h1>Parameters</h1>
<svg viewBox="0 0 100 100" style="border: green solid;">
	<path stroke="red" stroke-width="1" fill="none" d="M20,20 l30,0 A10,10 0 0,1 50,40 l0,25 l-30,0 Z" />
</svg>

	    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js / bootstrap.bundle.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
	</body>
</html>